language: php
php:
  - 5.4

mysql:
  database: drupal
  username: root
  encoding: utf8

before_script:
 - mysql -e 'create database drupal;'
 - pyrus channel-discover pear.drush.org
 - pyrus install drush/drush-devel
 - phpenv rehash
 - cd ..
 - ls -la
 # --no-cache is must-have due to http://drupal.org/node/1630220
 - drush dl drupal-7 --dev --no-cache
 - cd drupal-*
 - cp -R ../drupal7-date sites/all/modules/date
 - drush si standard --db-url=mysql://root:@localhost/drupal --yes
 - drush en simpletest --yes
 - drush en date --yes
 - drush en date_repeat --yes
# Just to test date_migrate.
 - drush dl migrate --dev --no-cache
 - drush cc all
 - drush runserver --server=builtin 8080 &
 - sleep 4
 - drush vset simpletest_verbose TRUE --yes

script: php scripts/run-tests.sh --php ~/.phpenv/versions/5.4.13/bin/php --url 'http://127.0.0.1:8080' --verbose --file sites/all/modules/date/date_repeat/tests/date_repeat.test,sites/all/modules/date/date_repeat/tests/date_repeat_form.test,sites/all/modules/date/date_migrate/date_migrate.test
 #drush test-run --xml --file=sites/all/modules/moopapi/core/simpletest.test --uri=http://127.0.0.1:8080
